.p-profile{
    background:url(/assets/image.jpg);
    width:100%;
    height:495px;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}
.p-des{
    width:80%;
}